extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
