extends layout

block content
  h1= title
  p Welcome to #{title}
  video(width='320', height='240', autoplay='')
    source(src='/bornhater.mp4', type='video/mp4')
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
